<div class="mt-4"  style="width : 600px">
    <form  class="form-a" method="POST" action="" >
        <div class="form-group">
            <label for="search-input">Từ khóa</label>
            <input type="text" name="q" class="form-control" id="search-input" placeholder="Nhập từ khóa">
        </div>

        <div class="form-group">
            <label for="search-input">giới tính</label>
            <select name="gender" id="">
                <option value="">---Chọn giới tính---</option>
                <option value="male">Nam</option>
                <option value="female">Nữ</option>
            </select>
        </div>
  
        <button type="submit" class="btn btn-primary">Tìm Kiếm</button>
    </form>
</div>